<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.flowhomeworkdataadvancedhotel/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.flowhomeworkdataadvancedhotel.view.user/UserListView.title"/>
        <item view="Client.list"
              title="msg://com.company.flowhomeworkdataadvancedhotel.view.client/clientListView.title"/>
        <item view="Room.list" title="msg://com.company.flowhomeworkdataadvancedhotel.view.room/roomListView.title"/>
        <item view="Booking.list"
              title="msg://com.company.flowhomeworkdataadvancedhotel.view.booking/bookingListView.title"/>
        <item view="BookingRoomAssignment.list"
              title="msg://com.company.flowhomeworkdataadvancedhotel.view.booking/bookingAssignment.title"/>
        <item view="ReservedRooms.list"
              title="msg://com.company.flowhomeworkdataadvancedhotel.view.roomreservation/reservedRoomsList.title"/>
    </menu>

</menu-config>